.close-icon {
    background: url('../../../assets/icons/close.svg') center/cover no-repeat;
}

.add-icon {
    background: url('../../../assets/icons/add.svg') center/cover no-repeat;
}

.delete-icon {
    background: url('../../../assets/icons/delete.svg') center/cover no-repeat;
}
